SERVER_PORT=8084

WALLET_DB_URL=jdbc:postgresql://localhost:5432/bidmart_wallet
WALLET_DB_USERNAME=postgres
WALLET_DB_PASSWORD=postgres

JWT_SECRET=replace-with-shared-jwt-secret
INTERNAL_SERVICE_TOKEN=replace-with-shared-internal-service-token
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
